@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
.card-parent{
    width:90%;
    margin:auto;
    margin-top: 25px;
    background-color: #1B2730;
    border:none;
  display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
}

.heading-signup
{   
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "Dancing Script", cursive;
    font-size: 60px;
    font-weight: bold;
    color:wheat;
}

.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 50% ;
}
.header-style{
    display: flex;
    justify-content: space-between;
    
}
.align-first{
    display: flex;
   justify-content: space-between;
   
}


.last-first{
    padding-top:40px;
    
    
}

@media(max-width: 480px){
    .align-first{
        display: block;
    }
}

